<!DOCTYPE html>
<html>
<head>
  <title>Ask Andromeda | The Viking Voice</title>
  <link rel="stylesheet" type="text/css" href="/assets/styles.css"/>
  <link rel="icon" type="image/png" href="/assets/logo.png"/>
</head>
<body>
  <main class="content-main">
  <header id="header" class="top">
    <h1><a href="/">The Viking Voice</a></h1>
    <div id="edition">
      <p>Volume I, Issue 2</p>
      <p>Monday, Feb. 6, 2022</p>
      <p>Second quarterly</p>
    </div>
  </header>
  <section class="article">
    <h2 class="nmbe">Ask Andromeda: [title]</h2>
    <br/>
    <p id="by" class="nmbs">by Andromeda <span class="tag advice">advice</span></p>
    <div class="article-body">
<p class="disclaim">Dear Andromeda,</p>

<p>[QUESTION]</p>

<p class="disclaim">Sincerely,<br>
[NAME]</p>

<hr/>

<p class="disclaim">Dear [NAME],</p> 

<p>[ADVICE]</p> 

<p class="disclaim">Good luck!<br>
Andromeda
</p>
<p class="disclaim"><a href="https://forms.gle/HjfoEVCmsPFW2n2j9">Submit your questions for Andromeda here.</a></p>
<p class="disclaim"><i>The opinions expressed within this piece are solely the author's and do not necessarily reflect the opinions and beliefs of North Mecklenburg High School or the Viking Voice.
</i></p>



 </div>
     
  </section>
  </main>
<footer>
  <div id="footer-info">
    <p><a href="https://bit.ly/3Uo67Oj" target="_blank">Contribute</a></p>
    <p>©2022 under CC BY-NC-ND 4.0.</p> 
    <p><a href="/quondam/">Archive</a></p>
    </div>
    </footer>
 </body>
 </html>
