<!DOCTYPE html>
<html>
<head>
  <title>The Viking Voice</title>
  <link rel="stylesheet" type="text/css" href="/assets/styles.css"/>
  <link rel="icon" type="image/png" href="/assets/logo.png"/>
</head>
<body>
  <main class="content-main">
  <header id="header" class="top">
    <h1><a href="/">The Viking Voice</a></h1>
    <div id="edition">
      <p>Volume I, Issue 2</p>
      <p>Monday, Feb. 6, 2022</p>
      <p>Second quarterly</p>
    </div>
  </header>
  <section class="article">
    <h2 class="nmbe">[TITLE]</h2>
    <p id="by" class="nmbs">by [AUTHOR] <span class="tag news">news</span></p>
    <div class="article-body">
     
     <p class="disclaim">The opinions expressed within this piece are solely the author's and do not necessarily reflect the opinions and beliefs of North Mecklenburg High School or the Viking Voice.</p>

    </div>
     
  </section>
  </main>
<footer>
  <div id="footer-info">
    <p><a href="https://bit.ly/3Uo67Oj" target="_blank">Contribute</a></p>
    <p>©2022 under CC BY-NC-ND 4.0.</p> 
    <p><a href="/quondam/">Archive</a></p>
    </div>
    </footer>
 </body>
 </html>
