@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');

/* general */

body {
  margin: 0;
  -ms-overflow-style: none;
  scrollbar-width: none;
  background-color: #fdf5ee;
  color: #1A1C1A;
  font-family: 'Inter', sans-serif;
}

*::-webkit-scrollbar {
  display: none;
}

::selection {
  background-color: transparent;
}

.content-main {
  margin: 3em;
}

a {
  color: #79b2c9;
  text-decoration: none;
 }

@media (pointer: fine) {
.nmbs {
  margin-block-start: 0 !important;
  margin-top: 0 !important;
}
}

.nmbe {
  margin-block-end: 0 !important;
  margin-bottom: 0 !important;
}

.bold {
  font-weight: 600;
}

.moreindent {
  text-indent: 50px !important;
}

.mostindent {
  text-indent: 70px !important;
}





/* header */
header {
  text-align: center;
  padding: 1em; 
  width: 80%;
  margin: auto;
}

header h1 {
  font-family: 'Playfair Display', serif;
  font-size: 5em;
  font-weight: 700;
  font-style: italic;
  margin-block: 0.2em;
  letter-spacing: -3px;
  line-height: 100%;
}

div#edition {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #2f2f2f;
  border-bottom: 1px solid #2f2f2f;
  padding: 0;
}

#edition p:nth-of-type(odd) {
  min-width: 250px;
}

#edition p:nth-of-type(1) {
  text-align: left;
}

#edition p:nth-of-type(3) {
  text-align: right;
}

/* news */

.container {
  overflow-x: hidden;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
}

.frontpage {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1px;
  width: 90%;
  overflow: hidden;
}


.fp-cell--1 {
  grid-row: 1 / span 2;
}

.fp-cell--2 {
  grid-column: 2 / span 2;
}

.fp-cell--3 {
  grid-column: 2;
}

.fp-item {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 500px;
  height: 100%;
}

.top {
  align-items: start;
  padding-top: 0.5em;
}


.push {
  width: 100% !important;
  height: 100%;
}

h2 {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 1.6em;
}

.side-table {
  width: 70%;
}

.side-table td {
  border-top: 1px solid #1A1C1A;
}

table h2 {
  margin-block-end: 0.4em;
}

.side-table #first-td {
  border-top: none;
}

table p {
  font-size: 1.1em;
  opacity: 0.6;
  font-weight: bold;
}

#main-table {
  width: 80%;
}

#main-table img { 
  padding: 4px;
  border: 1px solid #1A1C1A;
}

#main-table td {
  vertical-align: top;
  width: 50%;
}

#main-table td:nth-of-type(1) {
  padding-right: 1.2em;
}

#main-table td:nth-of-type(2) {
  padding-left: 1.2em;
}

#main-table h2 {
  font-size: 2em;
  font-weight: 700;
}

/* tags */

.tag {
  background-color: #dedede;
  border-radius: 18px;
  padding: 4px 6px;
}

.sports::before {
  content: '🟡';
  padding-right: 3px;
  
  opacity: 0.75;
}

.thoughts::before {
  content: '🔴';
  padding-right: 3px;
  opacity: 0.75;

}

.news::before {
  content: '🟢';
  padding-right: 3px;
  opacity: 0.75;

}

.creative::before {
  content: '🟠';
  padding-right: 3px;
  opacity: 0.75;

}

.advice::before {
  content: '🟣';
  padding-right: 3px;
  opacity: 0.75;

}

.opinion::before {
  content: '🔵';
  padding-right: 3px;
  opacity: 0.75;

}

.spotlight::before {
  content: '⚪';
  padding-right: 3px;
  opacity: 0.75;

}

/* error */
.error h1 {
  font-family: 'DM Serif Display', serif;
  font-size: 250pt;
  line-height: 100%;
  font-weight: 400;
  font-style: normal;
  margin-block: 0;
}

.error h2 {
  margin-block-start: 0;
}

.error {
  height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 10vw;
}

/* article */

.article img {
  max-height: 350px;
  padding: 5px;
  border: 1px solid #1A1C1A;
}

.article .tag {
  display: inline-block;
  font-weight: bold;
}

.article {
  width: 45vw;
  margin: auto;
  text-align: center;
}

.left-align {
  text-align: left;
}

.article h2 {
  font-size: 3.4em;
  font-weight: 700;
  margin-block-end: 0.35em;
}

#by { 
  display: inline-block;
  margin: auto;
  margin-top: 0.8em;
  font-weight: bold;
  opacity: 0.75;
}

.article img {
  display: block;
  margin: auto;
}

.article .tag {
  margin-left: 10px;
}

.article p {
  font-size: 1.2em;
}

.article-body p {
  text-align: justify;
  text-indent: 30px;
  line-height: 1.5em;
}

.disclaim {
  text-indent: 0 !important;
}

.no-indent p {
  text-indent: 0 !important;
}

#mainpage a {
  color: initial;
}


h1 a {  
  color: initial;
}

footer {
  width: 100vw;
  padding: 1em 0;
  text-align: center;
  background-color: #1A1C1A;
  color: #fdf5ee;

}

/* mobile site */
.som {
  display: none;
  margin: auto;
  width: 100%;
}

.som .side-table {
  margin: auto;
  width: 90%;
}


@media (max-width: 1200px) {
  div#edition {
    margin: 0;
    flex-wrap: wrap;
  }
  div#edition p:nth-of-type(3) {
    display: none;
  }
  #edition p:nth-of-type(odd) {
    min-width: 0px;
  }
  .hom {
    display: none;
  }
  .som {
    display: initial;
  }
  .article {
    width: 70vw !important;
  }
  .article img {
    max-width: 70vw;
    height: auto;
  }
  .article-body p {
     text-align: left;
   }
  .article h2 {
    margin-block-start: 0.1em;
    font-size: 3em;
  }
}

@media (max-width: 750px) {
  .article {
    width: 80vw !important;
  }
  .article h2 {
    font-size: 2.6em;
  }
}

@media (pointer: coarse) {
  header h1 {
    font-size: 8em;
    line-height: 105%;
  }
  header {
    width: 90%;
   } 
  p {
    font-size: 2.4em;
  }
  .hom {
    display: none;
   }
   .som {
    display: initial;
   }
   h2 {
    font-size: 3em;
    font-weight: 700;
   }
   table p {
    font-size: 2.3em;
   }
   #mainpage .tag {
    font-size: 1.4em;
    padding: 8px 10px;
   }
   
   .article {
     width: 90vw !important;
   }
   .article p {
     text-align: left;
     font-size: 2.6em;
   }
   .article h2 {
    font-size: 5em;
   }

  .article img {
    max-height: 450px;
   }
.sports::before {
  padding-right: 5px;
}

.bulletin::before {
  padding-right: 5px;
}

.news::before {
  padding-right: 5px;
}

.creative::before {
  padding-right: 5px;
}

.advice::before {
  padding-right: 5px;
}

.opinion::before {
  padding-right: 5px;
}

.spotlight::before {
  padding-right: 5px;
}

}
